*.log
configure.rb
/config/

# npm/bower specific
node_modules/
bower_components/

# leiningen specific
.lein-failures
.lein-repl-history
target/

automation/failure_screenshots/
automation/docker/failure_screenshots/
automation/docker/output/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

resources
build

*.pid
.nrepl-port
