/*
These styles override github-markdown.css, originally from:
https://github.com/sindresorhus/github-markdown-css
*/

.markdown-body.firecloud-markdown {
    font-size: inherit;
    font-family: inherit;
}

.markdown-body.firecloud-markdown a {
    color: #6690c5;
}
