.grab-icon {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.grabbing-icon {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

body.modal-open {
  overflow: hidden;
}

.underline-on-hover:hover {
  text-decoration: underline !important;
}

// for any-resize-event...
iframe {
  box-sizing: border-box;
}
